<!DOCTYPE html>
<html>
  <head>
    <title>{{titulo}}</title>
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
